.title {
	font-size: 1.5em;
	font-weight: bold;
	padding: 0 2em;
	width: 100%;
	margin: auto;
	text-align: center;
	transition-property: font-size, padding;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
@media (min-width: 48rem) {
	.title {
		font-size: 2em;
		width: 75%;
	}
}
@media (min-width: 64rem) {
	.title {
		font-size: 3em;
	}
}
@media (min-width: 80rem) {
	.title {
		width: 50%;
	}
}
