.container {
	position: relative;
	background: brown;
	padding-bottom: 4rem;
	z-index: 10;
	position: relative;
}
.testimonial {
	width: auto;
	margin: 0 2rem;
	text-align: center;
}

.testimonial_authors_container {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
	max-width: 100%;
	overflow: auto;
	flex-wrap: nowrap;
	padding: 3rem 2rem 0;
	justify-content: center;
}
.testimonial_author {
	display: inline-block;
	width: 4rem;
	text-align: center;
	vertical-align: middle;
}
.testimonial_author_avatar {
	background: white;
	margin: 0 auto;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	margin-bottom: 1rem;
}
.testimonial_author_name {
	opacity: 0;
	background: pink;
	height: 1rem;
	width: 100%;
}
.testimonial_author_avatar_active {
	width: 3.5rem;
	height: 3.5rem;
}
.testimonial_author_name_active {
	opacity: 1;
}
.testimonial_container {
	position: relative;
	height: 5rem;
	background: grey;
	margin-top: 2rem;
}
@media (min-width: 48rem) {
	.container {
		padding: 5rem;
	}
	.testimonial {
		width: 80%;
		margin: 0 auto;
	}
}
@media (min-width: 75rem) {
	.container {
		padding: 5rem 5rem 8rem;
	}
	.testimonial {
		width: 60%;
	}
}
