.container___3Epct {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.arrow___1IayF {
	font-weight: bold;
	padding: 0.75rem 1rem;
	position: relative;
	z-index: 10;
	transition: padding 0.3s ease-in-out;
}
@media (min-width: 30.01rem) {
	.arrow___1IayF {
		padding: 2rem 1.5rem;
	}
}
.container___CITj6 {
	position: relative;
}
.container___37mHv {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.week_day___aGTeL {
	flex-basis: calc(100% / 7);
	padding: 0.75rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: 400;
}
@media (min-width: 40.01rem) {
	.week_day___aGTeL {
		padding: 0.75rem 0.5rem;
	}
}
.container___19zYe {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid var(--border_color);
}
.day_container___3Hdk7 {
	position: relative;
	flex-basis: calc(100% / 7);
	max-width: calc(100% / 7);
}
.day___P58HR {
	width: calc(100% + 2px);
	border: 2px solid var(--border_color);
	margin: -1px;
	transition: border-color 0.3s ease-in-out;
	font-weight: bold;
	padding: 0.75rem;
	word-wrap: break-word;
	text-align: center;
	transition: padding 0.3s ease-in-out;
	height: calc(100% + 2px);
	position: relative;
}
.day_disabled___zpxCY {
	color: var(--text_color_light);
}
.day_selected___6ttdU {
	border-color: var(--main_color);
	z-index: 10;
}
.day_current___3gB3N {
	color: var(--main_color);
}
@media (min-width: 30.01rem) {
	.day___P58HR {
		text-align: right;
	}
}
@media (min-width: 40.01rem) {
	.day___P58HR {
		padding: 0.75rem 0.75rem 2rem;
	}
}
:root {
	--dt-main_color: #1a8fff;
	--dt-text_color: #777;
	--dt-text_color_light: #ccc;
	--dt-border_color: #eee;
	--dt-bg_color: #f9f9f9;
	--dt-neutral_color: #fff;
}
:root {
    --neutral_color: var(--dt-neutral_color);
    --border_color: var(--dt-border_color);
    --text_color_light: var(--dt-text_color_light);
    --text_color: var(--dt-text_color);
    --bg_color: var(--dt-bg_color);
    --main_color: var(--dt-main_color);
}

.container___1aeFz {
    display: block;
    margin: 0 auto;
    max-width: 50rem;
    background-color: var(--neutral_color);
    color: var(--text_color);
}
.header___3LgtC {
    position: relative;
    width: 100%;
    border: 2px solid var(--border_color);
}
.actions___3fFit {
    width: 100%;
    font-weight: 700;
}
.label___QaxfB {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.2em;
}
.body___z_hEn {
    overflow-x: auto;
}
.week_days___1Y8QC {
    border-left: 2px solid var(--border_color);
    border-right: 2px solid var(--border_color);
    color: var(--text_color_light);
    width: 100%;
}
.grid___30rtq {
    width: 100%;
}
* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--text_color);
	background: var(--bg_color);
	position: relative;
	margin: 0;
}
.container___1eSy8 {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.arrow___3O0v7 {
	font-weight: bold;
	padding: 0.75rem 1rem;
	position: relative;
	z-index: 10;
	transition: padding 0.3s ease-in-out;
}
@media (min-width: 30.01rem) {
	.arrow___3O0v7 {
		padding: 2rem 1.5rem;
	}
}
.container___Cegap {
	position: relative;
}
.container___3665F {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.week_day___1S2da {
	flex-basis: calc(100% / 7);
	padding: 0.75rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: 400;
}
@media (min-width: 40.01rem) {
	.week_day___1S2da {
		padding: 0.75rem 0.5rem;
	}
}
.container___2Vk74 {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid var(--border_color);
}
.day_container___btlTo {
	position: relative;
	flex-basis: calc(100% / 7);
	max-width: calc(100% / 7);
}
.day___2yZyC {
	width: calc(100% + 2px);
	border: 2px solid var(--border_color);
	margin: -1px;
	transition: border-color 0.3s ease-in-out;
	font-weight: bold;
	padding: 0.75rem;
	word-wrap: break-word;
	text-align: center;
	transition: padding 0.3s ease-in-out;
	height: calc(100% + 2px);
	position: relative;
}
.day_disabled___2tRgb {
	color: var(--text_color_light);
}
.day_selected___2strC {
	border-color: var(--main_color);
	z-index: 10;
}
.day_current___y8Ql1 {
	color: var(--main_color);
}
@media (min-width: 30.01rem) {
	.day___2yZyC {
		text-align: right;
	}
}
@media (min-width: 40.01rem) {
	.day___2yZyC {
		padding: 0.75rem 0.75rem 2rem;
	}
}
:root {
	--dt-main_color: #1a8fff;
	--dt-text_color: #777;
	--dt-text_color_light: #ccc;
	--dt-border_color: #eee;
	--dt-bg_color: #f9f9f9;
	--dt-neutral_color: #fff;
}
:root {
    --neutral_color: var(--dt-neutral_color);
    --border_color: var(--dt-border_color);
    --text_color_light: var(--dt-text_color_light);
    --text_color: var(--dt-text_color);
    --bg_color: var(--dt-bg_color);
    --main_color: var(--dt-main_color);
}

.container___3zfQR {
    display: block;
    margin: 0 auto;
    max-width: 50rem;
    background-color: var(--neutral_color);
    color: var(--text_color);
}
.header___285Rq {
    position: relative;
    width: 100%;
    border: 2px solid var(--border_color);
}
.actions___j98yV {
    width: 100%;
    font-weight: 700;
}
.label___1ON87 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.2em;
}
.body___2W7PY {
    overflow-x: auto;
}
.week_days___1SVvw {
    border-left: 2px solid var(--border_color);
    border-right: 2px solid var(--border_color);
    color: var(--text_color_light);
    width: 100%;
}
.grid___2bviL {
    width: 100%;
}
* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--text_color);
	background: var(--bg_color);
	position: relative;
	margin: 0;
}

/*# sourceMappingURL=style.css.map*/