.switch {
	position: relative;
	width: 20rem;
	margin: 5rem 10rem;
}
.labels {
	border-radius: 3rem;
	overflow: hidden;
	position: relative;
	background-color: red;
}
.circle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -1.5rem;
	right: auto;
	height: 3rem;
	margin: auto -1.5rem;
	width: 3rem;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid black;
	transition-property: left;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}
