.container {
	position: relative;
	background: #ec7575;
}
.cards_container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: auto;
	justify-content: flex-start;
	margin-top: -3rem;
	z-index: 20;
	position: relative;
}
.card {
	position: relative;
	flex-basis: 15rem;
	min-width: 15rem;
	background: beige;
	margin: 0 0.5rem;
}
.card:first-child {
	margin-left: 0;
}
.card_image {
	height: 10rem;
	background: #f3dcf5;
}
.card_details {
	padding: 2rem;
}
.card_title {
	height: 2rem;
	text-align: center;
	background: #75c6ec;
}
.card_info {
	height: 4rem;
	text-align: center;
	background: #dcf2f5;
	margin-top: 2rem;
}
.card_price {
	width: 60%;
	background: #75ec79;
	margin: 2rem auto 0;
	height: 3rem;
}
.special_offer_container {
	position: relative;
	background: rgba(0, 0, 0, 0.1);
	padding: 3rem 1rem;
}
.special_offer_week {
	max-width: 60rem;
	margin: auto;
}
.special_offer_title {
	height: 3rem;
	width: 100%;
	background: pink;
	margin: auto;
	transition: width 0.5s ease-in-out;
}
.special_offer_content {
	height: 5rem;
	width: 100%;
	background: #c4c0ff;
	margin: 1rem auto 0;
	transition: width 0.5s ease-in-out;
}
.special_offer_action {
	height: 3rem;
	width: 10rem;
	margin: 1rem auto 0;
	background: #f1dd95;
}
@media (min-width: 40rem) {
	.special_offer_content {
		width: 80%;
	}
}
@media (min-width: 64rem) {
	.cards_container {
		justify-content: center;
	}
	.special_offer_title {
		width: 80%;
	}
	.special_offer_content {
		width: 50%;
	}
}
