.container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid var(--border_color);
}
.day_container {
	position: relative;
	flex-basis: calc(100% / 7);
	max-width: calc(100% / 7);
}
.day {
	width: calc(100% + 2px);
	border: 2px solid var(--border_color);
	margin: -1px;
	transition: border-color 0.3s ease-in-out;
	font-weight: bold;
	padding: 0.75rem;
	word-wrap: break-word;
	text-align: center;
	transition: padding 0.3s ease-in-out;
	height: calc(100% + 2px);
	position: relative;
}
.day_disabled {
	color: var(--text_color_light);
}
.day_selected {
	border-color: var(--main_color);
	z-index: 10;
}
.day_current {
	color: var(--main_color);
}
@media (min-width: 30.01rem) {
	.day {
		text-align: right;
	}
}
@media (min-width: 40.01rem) {
	.day {
		padding: 0.75rem 0.75rem 2rem;
	}
}
